<div class="container__big-card">
 <div class="big-card-photo">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Ffull%2F233-2332677_image-500580-placeholder-transparent.png&f=1&nofb=1&ipt=21be451acaca34f8a94e7740b4f162ff2acf988e44d85d60ad199dbc6992bd4a&ipo=images" alt="placeholder">
 </div>
 <div class="big-card-title">
  <h1>Nova versão do Angular liberada</h1>
 </div>
 <div class="big-card-description">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores illo totam ex nam rerum quod, quam voluptates voluptatum laboriosam at eaque numquam perferendis delectus laudantium nemo accusamus iusto? Sequi, labore.</p>
 </div>
</div>
